<a
  routerLink="/dashboard"
  class="btn space-blue-btn btn-sm"
  style="text-decoration: none !important"
>
<ng-icon name="bootstrapArrowLeft"></ng-icon>&nbsp; Back</a
>

<h4 class="space-blue-font-color text-uppercase display-6 mt-3">
  Upcoming Launches
</h4>

<div class="row mt-2 mb-3">
  <div class="col d-flex flex-column align-items-center">
    <ngb-pagination
      [collectionSize]="totalLaunchRecords"
      [pageSize]="perpageItemsSize"
      [maxSize]="4"
      aria-label="Default pagination"
      [boundaryLinks]="true"
      (pageChange)="onPagination($event)"
      [(page)]="currentPage"
    >
    </ngb-pagination>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <ng-container *ngIf="upcomingLaunchesList.results.length > 0">
    <div
      class="col-md-6 col-lg-4  col-12 mt-2 g-1"
      *ngFor="let launchItem of upcomingLaunchesList.results"
    >
      <app-card [imageTitle]="launchItem.name" [imageURL]="launchItem.image">
        <div class="mb-2">         
          <app-launch-status [launchStatus]="launchItem?.launchStatus?.name"  [launchStatusColor]="_launchUtilService.getLaunchStatusColor(launchItem?.launchStatus?.abbrev!)"></app-launch-status>
        </div>
        <span class="h6 d-inline-block text-truncate" style="max-width: 300px">
          {{ launchItem?.name }}
        </span>
        <p class="small">
          <ng-icon name="bootstrapCalendar2Event"></ng-icon>&nbsp;
          {{ launchItem?.launchDate }}
        </p>
        <a
          [routerLink]="['/launches', launchItem?.slug]"
          class="stretched-link"
        ></a>
      </app-card>
    </div>
  </ng-container>
  <p
    class="space-blue-font-color text-center"
    *ngIf="
      upcomingLaunchesList.results.length == 0 &&
      upcomingLaunchesList.count >= 0
    "
  >
    No data availble
  </p>
</div>

<div class="row mt-3 mb-3">
  <div class="col d-flex flex-column align-items-center">
    <ngb-pagination
      [collectionSize]="totalLaunchRecords"
      [pageSize]="perpageItemsSize"
      [maxSize]="4"
      aria-label="Default pagination"
      [boundaryLinks]="true"
      (pageChange)="onPagination($event)"
      [(page)]="currentPage"
    ></ngb-pagination>
  </div>
</div>
