<div class="row">
  <div class="col-lg-6 mt-3">
    <div class="row">
      <div class="col">
        <h6 class="float-start space-blue-font-color fw-bold text-uppercase">
          Upcoming Launch
        </h6>
        <a
          style="text-decoration: none !important"
          [routerLink]="['/launches', 'upcoming']"
          class="float-end fs-6 space-blue-font-color"
          >More
          <ng-icon name="bootstrapArrowRight"></ng-icon>
        </a>
      </div>
    </div>

    <app-card customHeight="40vh" [imageTitle]="dashboardResult?.upcomingLaunch?.name" [imageURL]="dashboardResult?.upcomingLaunch?.image">
      <!-- <div class="badge bg-danger mb-2" title="Launch Status">
        {{ dashboardResult?.upcomingLaunch?.launchStatus?.name }}
      </div> -->
      <app-launch-status [launchStatusColor]="launchStatusColor" [launchStatus]="dashboardResult?.upcomingLaunch?.launchStatus?.name"></app-launch-status>
      <span class="h6 d-inline-block text-truncate" style="max-width: 300px">
        {{ dashboardResult?.upcomingLaunch?.name }}
      </span>   
      <p class="card-subtitle">
        <ng-icon name="bootstrapCalendar2Event"></ng-icon>&nbsp;
        {{ dashboardResult?.upcomingLaunch?.launchDate }}
      </p>
      <a
        [routerLink]="['/launches', dashboardResult?.upcomingLaunch?.slug]"
        class="stretched-link"
      ></a>
    </app-card>

  </div>
  <div class="col-lg-6 mt-3">
    <div class="row">
      <div class="col">
        <h6 class="float-start space-blue-font-color fw-bold text-uppercase">
          Picture of the day
        </h6>
        <a
          style="text-decoration: none !important"
          [routerLink]="['/picoftheday']"
          class="float-end fs-6 space-blue-font-color"
          >More
          <ng-icon name="bootstrapArrowRight"></ng-icon>
        </a>
      </div>
    </div>

    <app-card customHeight="40vh" [imageTitle]="dashboardResult?.apod?.title" [imageURL]="dashboardResult?.apod?.url">
      <h5 class="card-title fw-bold mb-2">
        {{ dashboardResult?.apod?.title }}
      </h5>
      <span title="CopyRight" *ngIf="dashboardResult?.apod?.copyright != null"
        > <ng-icon name="bootstrapCCircle"></ng-icon>
        {{ dashboardResult?.apod?.copyright }}</span
      >
      <a [routerLink]="['/picoftheday']" class="stretched-link"></a>
    </app-card>
  </div>
</div>
