<a
  routerLink="/dashboard"
  class="btn space-blue-btn btn-sm"
  style="text-decoration: none !important"
>
  <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp; Back</a
>

<h4 class="space-blue-font-color text-uppercase mt-3">
  {{ launchInfo?.name }}
</h4>

<div class="row">
  <div class="col-lg-6 mt-2">
    <app-card
      [imageTitle]="launchInfo?.name"
      [imageURL]="launchInfo?.image"
      [customHeight]="'50vh'"
    ></app-card>
  </div>
  <div class="col-lg-6 mt-2">
    <app-simple-card [customHeight]="'50vh'" [wantFlex]="true">
      <p class="h4">T- 00 d : 18 h : 13 m: 02 s</p>

      <app-launch-status
        [launchStatusColor]="launchStatusColor"
        [launchStatus]="launchInfo?.status?.name"
      ></app-launch-status>
      <span class="mt-2">
        <fa-icon [icon]="faCalendarDay"></fa-icon>&nbsp;
        {{ launchInfo?.launchDate }}
      </span>
      <span class="mt-2">
        <fa-icon [icon]="faMapMarkerAlt"></fa-icon> &nbsp;
        {{ launchInfo?.pad?.name }} , {{ launchInfo?.pad?.location?.name }}
      </span>
      <span class="my-2"
        >Agency : &nbsp; {{ launchInfo?.launch_service_provider?.name }}</span
      >
    </app-simple-card>
  </div>
</div>
<div class="row" *ngIf="launchInfo?.isFailed || launchInfo?.isHold">
  <div class="col mt-2">
    <app-simple-card [customHeight]="'auto'" [wantHeader]="true">
      <span header>
        {{ launchInfo?.isFailed ? "Failure" : "Hold" }} Reason
      </span>
      <p>
        {{
          launchInfo?.failHoldreason | slice: 0:150
        }}...
        <a
          href="#"
          onclick="return false;"
          (click)="open(launchInfo?.failHoldreason!)"
          >More</a
        >
      </p>
    </app-simple-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mt-2">
    <app-simple-card [customHeight]="'auto'" [wantHeader]="true">
      <span header> Mission : {{ launchInfo?.mission?.name }} </span>
      <p>
        {{ launchInfo?.mission?.description | slice: 0:150 }}...
        <a
          href="#"
          onclick="return false;"
          (click)="open(launchInfo?.mission?.description)"
          >More</a
        >
      </p>
    </app-simple-card>
  </div>
  <div class="col-lg-6 mt-2">
    <app-simple-card [customHeight]="'auto'" [wantHeader]="true">
      <span header>
        Rocket : {{ launchInfo?.rocket?.configuration?.name }}
      </span>
      <p>
        {{ launchInfo?.rocket?.configuration?.description | slice: 0:150 }}...
        <a
          href="#"
          onclick="return false;"
          (click)="open(launchInfo?.rocket?.configuration?.description)"
          >More</a
        >
      </p>
    </app-simple-card>
  </div>
</div>
