<a
  routerLink="/dashboard"
  class="space-blue-font-color"
  style="font-size: 20px; text-decoration: none !important"
>
  <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp; Back</a
>

<h4 class="space-blue-font-color text-uppercase display-6">
  Previous Launches
</h4>

<div class="row">
  <div class="col d-flex flex-column align-items-center">
    <ngb-pagination
      [collectionSize]="totalLaunchRecords"
      [pageSize]="9"
      [maxSize]="5"
      aria-label="Default pagination"
      [boundaryLinks]="true"
      (pageChange)="onPagination($event)"
      [(page)]="currentPage"
    >
    </ngb-pagination>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div
    class="col-md-4 col-12 mt-2 g-1"
    *ngFor="let launchItem of previousLaunchesList.results"
  >
    <app-card [imageTitle]="launchItem.name" [imageURL]="launchItem.image">
      <div class="mb-2">
        <span
          class="badge"
          [ngClass]="[
            'bg-' +
              _launchService.getLaunchStatusColor(
                launchItem?.launchStatus?.abbrev!
              )
          ]"
          title="Launch Status"
        >
          {{ launchItem?.launchStatus?.name }}
        </span>        
      </div>
      <h5 class="card-title fw-bold mb-2">
        {{ launchItem?.name }}
      </h5>
      <p class="card-subtitle">
        <fa-icon [icon]="faCalendarDay"></fa-icon>&nbsp;
        {{ launchItem?.launchDate }}
      </p>
      <a
        [routerLink]="['/launches', launchItem?.slug]"
        class="stretched-link"
      ></a>
    </app-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col d-flex flex-column align-items-center">
    <ngb-pagination
      [collectionSize]="totalLaunchRecords"
      [pageSize]="9"
      [maxSize]="5"
      aria-label="Default pagination"
      [boundaryLinks]="true"
      (pageChange)="onPagination($event)"
      [(page)]="currentPage"
    ></ngb-pagination>
  </div>
</div>
